@media (max-width: 1280px) { /* For tablets and smaller devices */
    .timer-title-container {
        bottom: 22vh; /* Reduce the bottom position for smaller screens */
        
        font-size: 1.25rem; /* Adjust font size if needed */
        padding: 0 0.25rem 0 0.125rem; /* Adjust padding for smaller screens */
    }

    .summary {
        bottom: 13vh; 
    }

    .below-2 h1 {
        margin-right: 10rem; /* 40px to 2.5rem */
    }

    .below-2-button {
        right: 22vh; 
    }

    .inside-below-1 p {
        width: 70rem;
    }

    .image-item img {
        width: 12.8125rem; /* 285px to 17.8125rem */
        display: block;
    }

    .image-image {
        position: relative;
        width: 12.8125rem; /* 285px to 17.8125rem */
        font-family: 'AdihausDIN', Arial, Helvetica, sans-serif;
    }

    .image-item-2 img {
        width: 16.9rem; /* 395px to 24.6875rem */
        height: 22.5rem;
    }

    .image-item-2 video {
        width: 16.9rem; /* 395px to 24.6875rem */
        height: 22.5rem;
    }

    .image-image-2 {
        width: 16.9rem; /* 395px to 24.6875rem */
    }
}

@media (max-width: 1024px) {  /* For smaller devices */
    .middle-section li.fw-bold:nth-child(7) { /* Adjusted to target the specific 'UP TO 20% OFF*' item */
        display: none; 
    }

    .middle-section{
        margin-right: 12rem;
    }

    .middle-section li a{
        font-size: 12px; 
    }
    
    .search-bar input {
        width: 5.5rem; /* 200px to 12.5rem */
        height: 1.25rem; /* 20px to 1.25rem */
        font-size: 1rem; /* 16px to 1rem */
        margin-left: 0rem; /* 10px to 0.625rem */
    }

    .timer-title-container {
        bottom: 28vh; /* Reduce the bottom position for smaller screens */
    }

    .summary {
        bottom: 16vh; 
    }

    .timer-title-container-2{
        bottom: 15vh; 
    }

    .inside-below-1 p {
        width: 55rem;
    }

    .inside-below-1 {
        height: 30rem; /* 550px to 34.375rem */
        
    }

    .below-2 h1 {
        margin-right: 15rem; /* 40px to 2.5rem */
    }

    .below-2-button {
        right: 19vh; 
    }

    .image-item img {
        width: 12.8125rem; /* 285px to 17.8125rem */
        display: block;
    }

    .image-image {
        position: relative;
        width: 12.8125rem; /* 285px to 17.8125rem */
        font-family: 'AdihausDIN', Arial, Helvetica, sans-serif;
    }

    .image-item-2 img {
        width: 12.7rem; /* 395px to 24.6875rem */
        height: 17rem;
    }

    .image-item-2 video {
        width: 12.7rem; /* 395px to 24.6875rem */
        height: 17rem;
    }

    .image-image-2 {
        width: 12.7rem; /* 395px to 24.6875rem */
    }


}

@media screen and (max-width: 600px){
    .header {
        display: none;
    }

    .notification-bar p{
        font-size: 10px;  
        margin-right: 0.5rem;
    }
    
    .notification-bar i{
        margin-bottom: 12px;
    }

    .header-mobile {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center; /* Ensure items are centered vertically */
        padding: 5px; /* Add some padding for spacing */
        width: 100%;
        box-sizing: border-box;
        position: relative;
        height: 4.125rem; /* Adjust height for responsiveness */
        position: sticky;
        top: 2.8rem; /* This ensures the header sticks at the top of the page */
        z-index: 10;
        transition: top 0.3s;
    }

    
    .mobile-left, .mobile-middle, .mobile-right {
        display: flex;
        align-items: center;
    }
    
    .mobile-left button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 0.5rem;
        margin-right: 0.9rem;
    }
    
    .mobile-left i, .mobile-right ul li i {
        font-size: 22px; /* Ensure icon size is consistent */
        color: black;
    }
    
    .mobile-middle img {
        width: 3.5rem; /* Adjust width for responsiveness */
        height: 3.5rem; /* Adjust height for responsiveness */
        
    }
    
    .mobile-right ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .mobile-right ul li {
        font-size: 1.25rem;
        margin-left: 10px; /* Add margin for spacing */
    }
    
    .mobile-right ul li i {
        color: black;
    }
    
    .below-2 div a {
        padding: 0px 0 0.625rem 0.625rem; /* Adjusted padding for responsiveness */
        font-size: 14px;
    }

    .cta-button {
        padding: 0rem 0.75rem 10px 1.25rem; 
    }

    .inside-below-1 p {
        width: 22rem;
    }

    .inside-below-1 {
        height: 55rem; /* 550px to 34.375rem */ 
    }

    .below-2  {
        display: block;
        height: 13rem; 
    }

    .below-2-button {
        top: 13vh;
       right: 10vh;
    }

    .below-2 h1 {
        margin: 0; /* 40px to 2.5rem */        
    }

    .below-2-button::before {
        top: 4px; /* 4px to 0.25rem */
        left: 0.35rem; /* 4px to 0.25rem */
        right: 0;
        bottom: -4px; /* -2.5px to -0.15625rem */
        border: 0.0625rem solid black; /* 1px to 0.0625rem */
    }

    .below-3{
        display: none
    }

    .footer {
        display: none;
    }

    .below-mobile-1{
        display: block;
        background-color: #eceff1;
        padding: 20px;
    }
    
    .below-mobile-1 h5{
        font-weight: 700;
        font-size: 18px;
    }
    
    .below-mobile-1 a{
        color: #000;
    }
    
    .below-mobile-2{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
    }
    
    .below-mobile-2 p{
        font-size: 14px;
        color: #000;
        margin-left: 1rem;
        line-height: 20px;
    }
    
    .below-mobile-2 p, i{
        margin-top: 1rem;
    }

    .below-mobile-3{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: black;
        box-sizing: border-boxs;
        
    }

    .below-mobile-3 a{
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
    }

    .below-mobile-4{
        display: block;
        background-color: black; /* Background color of the footer */
        color: white; /* Text color for the footer */
        padding: 20px 0; /* Padding for top and bottom spacing */
        text-align: center;
    }

    .below-mobile-4-container {
        display: flex;
        justify-content: space-evenly;
    }

    .below-mobile-4-column ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .below-mobile-4-column li:not(:last-child) {
        margin-bottom: 10px; /* Space between links */
    }

    .below-mobile-4-column a {
        color: white; /* White text color */
        text-decoration: none; /* Remove underline from links */
        font-size: 12px; /* Adjust font size as needed */
    }

    .mobile-footer {
        display: block;
        background-color: #282c31; /* Dark background color */
        padding: 20px 0;
        text-align: center;
        color: #d3d7da;
        font-size: 14px; /* Font size */
        
    }

    .mobile-footer-container {
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
    }

    .mobile-footer-column ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-footer-column li {
        margin-bottom: 19px; /* Space between links */
    }

    .mobile-footer-column a {
        color: #d3d7da;
        text-decoration: none; /* Removes underline */
        font-size: 12px; /* Font size */
    }

    .mobile-footer-copyright {
        font-size: 12px; /* Font size */
        padding-bottom: 10px;
    }


}