<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Mục Lục</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost/fanimation/public/css/bai_viet.css">
    
</head>
<body>

<div class="container mt-5">
    <!-- Mục lục -->
    <div class="toc-container">
        <h4>Mục Lục</h4>
        <ol>
            <li><a href="#section1">1. Quạt Trần là gì?</a></li>
            <li><a href="#section2">2. Tại sao lại chọn Quạt Trần?</a></li>
            <li>
                <a href="#section3">3. Làm thế nào để chọn đúng Quạt Trần?</a>
                <ol>
                    <li><a href="#subsection3.1">3.1 Mẹo chọn Quạt Trần phù hợp</a></li>
                    <li><a href="#subsection3.2">3.2 Kích thước của thanh thả mà bạn cần với Quạt Trần là bao nhiêu?</a></li>
                    <li><a href="#subsection3.3">3.3 Sự lựa chọn kích thước</a></li>
                </ol>
            </li>
            <li>
                <a href="#section4">4. Các tiêu chí cần lưu ý để chọn Quạt Trần phù hợp</a>
                <ol>
                    <li><a href="#subsection4.1">4.1 Trần Nhà</a></li>
                    <li><a href="#subsection4.2">4.2 Chọn Quạt Trần phù hợp</a></li>
                    <li><a href="#subsection4.3">4.3 Phong cách</a></li>
                </ol>
            </li>
            <li>
                <a href="#section5">5. Các loại Quạt Trần khác nhau</a>
                <ol>
                    <li><a href="#subsection5.1">5.1 Quạt Trần “Tiêu chuẩn”</a></li>
                    <li><a href="#subsection5.2">5.2 Quạt Trần "Cao cấp"</a></li>
                    <li><a href="#subsection5.3">5.3 Quạt Trần thông minh</a></li>
                    <li><a href="#subsection5.4">5.4 Quạt Trần điều khiển từ xa</a></li>
                    <li><a href="#subsection5.5">5.5 Quạt Trần đèn</a></li>
                    <li><a href="#subsection5.6">5.6 Quạt Trần thông minh</a></li>
                </ol>
            </li>
            <li>
                <a href="#section6">6. Các thương hiệu khác nhau của Quạt Trần</a>
                <ol>
                    <li><a href="#subsection6.1">6.1 Quạt Trần Hunter</a></li>
                    <li><a href="#subsection6.2">6.2 Quạt Trần Panasonic</a></li>
                    <li><a href="#subsection6.3">6.3 Quạt Trần Mitsubishi</a></li>
                </ol>
            </li>
        </ol>
    </div>

    <!-- Nội dung -->
    <div id="section1">
        <h4>1. Quạt Trần là gì?</h4>
        <p>Quạt trần là một thiết bị được treo trên trần của một căn phòng, với các cánh quay gắn trên bộ trung tâm lưu thông không khí,
             do đó tạo ra hiệu ứng làm mát hoặc tách lớp (đó là một từ dã man nhưng đừng lo lắng, chúng tôi sẽ cung cấp thêm chi tiết tại đây).</p>
        <img src="http://localhost/fanimation/img/bai_viet/quat-tran-tai-thanh-pho-vinh-2048x1152.jpg"  alt="anh1">
        <div class="highlight-section">
            <p>Quạt Trần giúp căn phòng sang trọng hơn</p>
        </div>
        <ul>
            <li>Hầu hết các loại quạt trần đều được trang bị công tắc điện cho phép bạn đảo chiều quay của các cánh quạt. Vào mùa hè, hướng quay của các cánh quạt được thiết lập để thổi không khí xuống dưới, để làn gió được tạo ra làm bay hơi mồ hôi trên da của một người và người đó cảm thấy hiệu ứng làm mát. Vào mùa đông, hướng quay của các cánh quạt bị đảo ngược, do đó, không khí mát hơn (thường đi xuống mặt đất) được hút lên phía trên, và không khí ấm hơn ở gần trần nhà được đưa lên trên. 
                Bằng cách này, một chiếc quạt trần có thể trở nên hữu ích trong mùa nóng và mùa lạnh.</li>
            <li>Gần đây, loại quạt trần mới đang muốn xuất hiện trên thị trường, đó là quạt trần không cánh . Đó là một cuộc cách mạng nhỏ trong vũ trụ của thể loại này. Trên thực tế, quạt trần không cánh thường hiệu quả hơn các mẫu cũ hơn, nhỏ gọn hơn và ít tiêu thụ năng lượng hơn (do đó “tốt hơn” 
                cho hành tinh và tốt cho túi tiền của bạn).</li>
        </ul>
    </div>
    <div id="section2">
        <h4>2. Tại sao lại chọn Quạt Trần?</h4>
        <ul>
            <li>Nếu bạn muốn cải thiện sự lưu thông và chuyển động của không khí trong không gian bạn chọn, thì việc nghĩ đến việc lắp đặt một 
                chiếc quạt trần có thể là một ý tưởng tuyệt vời. Có nhiều kích thước để phù hợp với những căn phòng rất nhỏ hoặc những không gian sống lớn, Quạt trần mang đến một giải pháp dễ dàng để làm cho ngôi nhà của bạn trở nên thoải mái hơn. Vào mùa hè, chúng cung cấp một làn gió chào đón và phân phối không khí mát một cách hiệu quả. Vào mùa đông, chúng có thể được sử dụng để đẩy không khí ấm áp từ trần nhà xuống phòng. Quạt trần thường có kích thước khác nhau, từ loại cánh nhỏ có đường kính sải cánh từ 70 đến 150cm. 
                Diện tích căn phòng của bạn và chiều cao của trần nhà là hai kích thước quan trọng nhất cần xem xét khi lựa chọn một mẫu quạt. Ngoài ra, bạn cũng có thể lựa chọn quạt trần tích hợp đèn chiếu sáng để tăng ánh sáng cho bất kỳ căn phòng nào. Bạn sẽ hiểu, quạt trần mang đến nhiều ưu điểm và rất đa năng. Bạn có thể sử dụng nó vào mùa hè để có cảm giác mát mẻ trên người, 
                nhưng cũng có thể sử dụng vào mùa đông để lưu thông không khí và do đó phân phối khí nóng tích tụ gần trần nhà tốt hơn.</li>
        </ul>
        <img src="http://localhost/fanimation/img/bai_viet/quat-tran-phong-khach-sang-trong.jpg" alt="anh2">
        <div class="highlight-section">
            <p>Quạt Trần giúp căn phòng sang trọng hơn</p>
        </div>
        
    </div>
    <div id="section3">
        <h4>3. Làm thế nào để chọn đúng Quạt Trần?</h4>
        <ul>
            <li>Quạt trần là thiết bị thường bị đánh giá thấp trong các hộ gia đình. Nhiều người dựa vào điều hòa không khí để giữ mát vào mùa hè, nhưng quạt trần có thể giúp mà hầu như không tiêu thụ nhiều điện năng. Mặc dù quạt không làm giảm nhiệt độ hoặc giảm độ ẩm, nhưng chúng giúp lưu thông không khí khắp ngôi nhà và giữ cho bạn cảm thấy mát mẻ nhờ hiệu ứng “gió làm lạnh”. 
                Thêm vào đó, nhiều quạt trần là một sự bổ sung đầy phong cách cho ngôi nhà của bạn.</li>
            <li>Quạt trần đã xuất hiện từ cuối thế kỷ 19 và công nghệ đằng sau chúng tương đối đơn giản. Điện cung cấp năng lượng cho động cơ Quạt trung tâm, làm quay các cánh Quạt. Các cánh quạt nghiêng một góc nhỏ thường từ 12 đến 15 độ  giúp đẩy không khí về phía mặt đất. Khi không khí chạm vào da của bạn, mồ hôi sẽ bốc hơi, 
                khiến bạn cảm thấy mát hơn, mặc dù về mặt kỹ thuật thì nhiệt độ phòng là như nhau.</li>
            <li>Việc di chuyển không khí có vẻ không có nhiều khác biệt, nhưng Quạt trần có thể làm cho căn phòng mát hơn tới 8 độ nhờ hiệu ứng làm lạnh gió. Điều này cho phép bạn tăng nhiệt độ lên một vài độ, giúp bạn tiết kiệm rất nhiều năng lượng. Tuy nhiên, Quạt trần không chỉ là một kỳ quan một mùa. Bạn cũng có thể đảo ngược chúng vào mùa đông, làm cho không khí ấm áp từ trần nhà xuống, 
                vì vậy bạn có thể tận dụng tối đa chi phí sưởi ấm của mình.</li>
            <li>Khi chọn mô hình phù hợp với không gian của bạn, hãy xem xét các yếu tố như kích thước của căn phòng, chiều cao trần và phong cách trang trí của ngôi nhà của bạn. Điều quan trọng là phải cân nhắc ngân sách khi mua một chiếc Quạt trần, 
                vì nó có thể có giá từ 1,5 triệu đến hơn 10 triệu, tùy thuộc vào kích thước và kiểu dáng.</li>
        </ul>
        <p>Ngoài ra còn có Quạt trần cho ngoài trời. Đây là một hạng mục cụ thể mà chúng tôi đã nghiên cứu trong bài viết “Cách chọn Quạt trần ngoài trời phù hợp”.</p>

        <div id="subsection3.1">
            <h5>3.1 Mẹo chọn Quạt Trần phù hợp</h5>
            <img src="http://localhost/fanimation/img/bai_viet/noi-that-phong-khach-menh-hoa.jpg" alt="anh3">
            <div class="highlight-section">
                <p>Quạt Trần giúp căn phòng sang trọng hơn</p>
            </div>
            <h5>Quạt Trần nên quay theo hướng nào?</h5>
            <ul>
                <li>Cài đặt Quạt do nhà sản xuất đặt, vì vậy tốt nhất bạn nên kiểm tra các nguyên tắc dành cho Quạt cụ thể của mình trước. 
                    Tuy nhiên, nếu bạn không có thông tin về sản phẩm, nguyên tắc chung là trong những tháng mùa hè nóng nực, các cánh Quạt nên quay ngược chiều kim đồng hồ để tạo ra làn gió. Vào mùa đông, các cánh Quạt nên quay theo chiều kim đồng hồ, giúp đẩy không khí lên trên và kéo không khí nóng bị mắc kẹt xuống dưới để cải thiện sự phân phối nhiệt. Bạn cũng có thể thực hiện kiểm tra của riêng mình để đảm bảo rằng bạn
                     đã điều chỉnh hệ thống đúng cách để tiết kiệm năng lượng tối ưu.</li>
            </ul>
        </div>
        <div id="subsection3.2">
            <h5>3.2 Kích thước của thanh thả mà bạn cần với Quạt Trần là bao nhiêu?</h5>
            <p>Hầu hết các Quạt trần tiêu chuẩn đều đi kèm với một thanh thoát, là miếng kim loại kết nối Quạt của bạn với khung trần. Quạt trần không được vượt quá khoảng cách 3 mét giữa sàn và các cánh quạt. Lý tưởng nhất là các lưỡi dao được treo cách mặt đất 2,5 đến 3 m, vì vậy bạn sẽ cần một thanh thả tùy thuộc vào độ cao của trần nhà.</p>
        </div>
        <div id="subsection3.3">
            <h5>3.3 Sự lựa chọn kích thước</h5>
            <ul>
                <li>Đối với phòng ngủ và phòng tắm của khách, Quạt trần nhỏ hoạt động tốt trong khi không gian lớn, chẳng hạn như một căn phòng lớn, sẽ được hưởng lợi nhiều nhất từ Quạt trần lớn. Chiều rộng Quạt được đề xuất dựa trên chiều dài của bức tường dài nhất trong phòng của bạn:</li>
                <li>Nếu chiều dài của bức tường dài nhất nhỏ hơn 3,5m, chiều rộng của Quạt phải từ 91cm trở xuống</li>
                <li>Nếu chiều dài của bức tường dài nhất là 3,5 đến 4,5m, chiều rộng của Quạt của bạn phải là 100 đến 125 cm.</li>
                <li>Nếu chiều dài của bức tường dài nhất là hơn 4,5m, chiều rộng của Quạt của bạn phải là 135cm trở lên.</li>
            </ul>
        </div>
    </div>

    <div id="section4">
        <h4>4. Các tiêu chí cần lưu ý để chọn Quạt Trần phù hợp</h4>
        <div id="subsection4.1">
            <h5>4.1 Trần Nhà</h5>
            <ul>
                <li>Trước khi hành động, bạn sẽ cần suy nghĩ về cách bạn định lắp ráp chiếc Quạt trần mới của mình, vì bạn có thể cần một bộ lắp đặc biệt. Nếu bạn có trần nhà thấp, bạn có thể sẽ cần lắp quạt ngang với trần nhà, vì vậy hãy đảm bảo sản phẩm bạn mua tương thích với kiểu lắp này. Tương tự như vậy, nếu bạn có trần nhà cao hơn, bạn sẽ cần phải mua một cây đũa phép có chiều dài thích hợp. Nếu bạn định gắn Quạt trên trần dốc, bạn sẽ cần một bộ chuyển đổi trần dốc đặc biệt, được gắn vào hộp ổ cắm để đảm bảo Quạt được móc đúng cách.</li>
            </ul>
        </div>
        <div id="subsection4.2">
            <h5>4.2 Chọn Quạt Trần phù hợp</h5>
            <ul>
                <li>Có một số loại động cơ cung cấp năng lượng cho Quạt trần. Dòng điện xoay chiều, hoặc động cơ xoay chiều, là lựa chọn phổ biến nhất. Loại động cơ này có giá cả phải chăng và đáng tin cậy. Động cơ AC hiện đại cũng tương đối yên tĩnh.</li>
                <li>Đối với động cơ điện một chiều hoặc động cơ DC, chúng đã trở nên phổ biến trong những năm gần đây, vì chúng có ưu điểm lớn là ít tốn điện hơn. Mặc dù đắt hơn nhưng Quạt trần có động cơ DC sử dụng ít điện hơn tới 70% và cực kỳ yên tĩnh. Ngoài ra, các động cơ này nhẹ hơn nên dễ lắp đặt hơn.</li>
                <li>Cuối cùng, hãy nghĩ về cách bạn muốn điều khiển Quạt trần của mình. Có ba lựa chọn phổ biến: Điều khiển từ xa, công tắc âm tường hoặc xích kéo. Điều khiển từ xa được cho là lựa chọn tiện lợi nhất, vì chúng cho phép bạn điều khiển Quạt từ bất kỳ đâu trong phòng. Tuy nhiên, một số người không muốn sử dụng một điều khiển từ xa khác, trong trường hợp đó, công tắc âm tường có thể là một lựa chọn tốt hơn. Nếu bạn có trần nhà thấp, bạn luôn có thể sử dụng dây kéo. Mặc dù chúng hơi khó hiểu khi hoạt động, nhưng đây là một lựa chọn đơn giản có thể giảm chi phí lắp đặt.</li>

            </ul>
        </div>
        <div id="subsection4.3">
            <h5>4.3 Phong cách</h5>
            <ul>
                <li>Tất nhiên, bạn cũng sẽ phải cân nhắc xem bạn chọn kiểu dáng Quạt trần nào. Các khía cạnh như hoàn thiện, kiểu dáng của lưỡi dao và số lượng lưỡi dao có thể ảnh hưởng đến sự hài hòa trong trang trí của bạn. Ngày nay, bạn có thể tìm thấy những chiếc Quạt trần phù hợp với hầu hết mọi phong cách trang trí, cho dù ngôi nhà của bạn là truyền thống, hiện đại, công nghiệp hay mộc mạc. Nói chung, các chuyên gia khuyên bạn nên kết hợp hoàn thiện của động cơ với các yếu tố khác của căn phòng. Vì vậy, nếu nhà bếp của bạn mang hơi hướng của Gỗ, hãy tìm một chiếc quạt có cánh quạt màu Gỗ. Nó sẽ giúp tạo ra sự hài hòa.</li>
                <li>Số lượng cánh của Quạt trần cũng ảnh hưởng đến kiểu dáng của nó. Theo truyền thống, Quạt có bốn hoặc năm cánh, nhưng loại Quạt “trực thăng” hiện đại có thể có tới chín! Nếu bạn muốn có một cái nhìn công nghiệp hơn, bạn có thể muốn xem xét một chiếc Quạt có lồng xung quanh nó, trong khi những người theo phong cách bohemian sẽ đánh giá cao kiểu dáng của các cánh “lá cọ”. Nếu bạn không chắc điều gì sẽ tốt nhất cho ngôi nhà của mình, một số cánh Quạt có thể đảo ngược, mang đến cho bạn hai lựa chọn thiết kế – hoàn hảo nếu bạn muốn thay đổi mọi thứ liên tục.</li>
            </ul>
            <img src="http://localhost/fanimation/img/bai_viet/quat-tran-voi-noi-that-go.jpg" alt="anh4">
            <div class="highlight-section">
                <p>Quạt Trần giúp tôn lên vẻ đẹp căn phòng</p>
            </div>
        </div>
    </div>

    <div id="section5">
        <h4>5. Các loại Quạt Trần khác nhau</h4>
        <div id="subsection5.1">
            <h5>5.1 Quạt Trần "Tiêu chuẩn"</h5>
            <ul>
                <li>Hầu hết mọi người cuối cùng mua một chiếc quạt trần tiêu chuẩn cho ngôi nhà của họ, nhưng vẫn còn rất nhiều sản phẩm thuộc loại này. Hãy coi quạt trần “tiêu chuẩn” là sản phẩm “không chuyên dụng”. Quạt trần tiêu chuẩn có nhiều kích cỡ và kiểu dáng, có hoặc không có đèn chiếu sáng và với nhiều tùy chọn điều khiển và hạ thấp khác nhau. Chúng có thể có giá từ 1 triệu 5 đối với mô hình cơ bản và hơn 6 triệu đồng đối với mô hình cao cấp.</li>
            </ul>
        </div>

        <div id="subsection5.2">
            <h5>5.2 Quạt Trần “Tiêu chuẩn”"</h5>
            <p>Nội dung về quạt cao cấp...</p>
        </div>

        <div id="subsection5.3">
            <h5>5.3 Quạt Trần thông minh</h5>
            <ul>
                <li>Hầu hết mọi người cuối cùng mua một chiếc quạt trần tiêu chuẩn cho ngôi nhà của họ, nhưng vẫn còn rất nhiều sản phẩm thuộc loại này. Hãy coi quạt trần “tiêu chuẩn” là sản phẩm “không chuyên dụng”. Quạt trần tiêu chuẩn có nhiều kích cỡ và kiểu dáng, có hoặc không có đèn chiếu sáng và với nhiều tùy chọn điều khiển và hạ thấp khác nhau. Chúng có thể có giá từ 1 triệu 5 đối với mô hình cơ bản và hơn 6 triệu đồng đối với mô hình cao cấp.</li>
            </ul>
        </div>
        
        <div id="subsection5.4">
            <h5>5.4 Quạt Trần điều khiển từ xa</h5>
            <ul>
                <li>Nếu bạn nghĩ rằng quạt trần điều khiển từ xa là lựa chọn tốt nhất cho ngôi nhà của mình, thì có rất nhiều lựa chọn để bạn lựa chọn, bao gồm nhiều loại kích thước và kiểu dáng. Các tùy chọn này đắt hơn một chút so với kiểu dây chuyền, nhưng bạn vẫn có thể tìm thấy một chiếc quạt điều khiển từ xa tốt với giá từ 9 triệu đồng.</li>
            </ul>
        </div>

        <div id="subsection5.5">
            <h5>5.5 Quạt Trần đèn</h5>
            <ul>
                <li>
                    Bạn đang tìm cách để giảm hóa đơn năng lượng của mình? Trong trường hợp đó, bạn có thể tìm kiếm một chiếc Quạt trần được chứng nhận “Energy Star”. Để đạt được chứng nhận này, các sản phẩm phải di chuyển không khí hiệu quả hơn 20% so với các mẫu tiêu chuẩn và nếu Quạt đi kèm bộ đèn, thiết kế tiết kiệm năng lượng thì hiệu quả hơn 60%. Mặc dù có lợi ích tiết kiệm năng lượng, nhưng quạt trần Energy Star vẫn có giá rất phải chăng, vì chúng không đắt hơn nhiều so với Quạt trần tiêu chuẩn.
                </li>
            </ul>
        </div>

        <div id="subsection5.6">
            <h5>5.6 Quạt Trần thông minh</h5>
            <ul>
                <li>Nếu bạn đã có các thiết bị thông minh trong nhà, bạn có thể muốn xem xét một chiếc Quạt trần thông minh. Quạt trần thông minh kết nối với mạng Wi-Fi của nhà bạn, cho phép bạn điều khiển chúng từ xa, thông qua điện thoại thông minh hoặc máy tính bảng. Điều này cho phép bạn tạo lịch để quạt bật và điều khiển nó từ xa. Tuy nhiên, những người sở hữu các thiết bị nhà thông minh khác, chẳng hạn như Alexa của Google hoặc Amazon, có thể nhận được thêm lợi ích từ Quạt trần thông minh. Nhiều quạt thông minh tương thích với Amazon Alexa hoặc Apple HomeKit, vì vậy bạn có thể điều khiển chúng bằng lệnh thoại. Một số kiểu máy phổ biến có thể tích hợp với các sản phẩm như Quạt trần Panasonic và hai thiết bị này sẽ hoạt động cùng nhau để giữ cho ngôi nhà của bạn ở nhiệt độ lý tưởng đồng thời giảm chi phí năng lượng. Mặc dù được trang bị hiện đại, nhiều Quạt trần thông minh có giá cả phải chăng đáng ngạc nhiên, bắt đầu từ khoảng 9 triệu đồng.</li>
            </ul>
        </div>
    </div>

    <div id="section6">
        <h4>6. Các thương hiệu khác nhau của Quạt Trần</h4>
        <div id="subsection6.1">

            <h5>6.1 Quạt Trần Hunter</h5>
            <ul>
                <li>Thương hiệu này đã tồn tại hơn 100 năm và mục tiêu của nó là đạt được sự cân bằng giữa chất lượng và giá cả. Bạn thường có thể tìm thấy những chiếc Quạt Hunter với nhiều tính năng đáng mơ ước và sáng tạo, tất cả đều có mức giá hợp lý.</li>
            </ul>
        </div>

        <div id="subsection6.2">
            <h5>6.2 Quạt Trần Panasonic</h5>
            <ul>
                <li>Dòng sản phẩm này do tập đoàn Panasonic bán ra, là một trong những thương hiệu Quạt trần được ưa chuộng nhất hiện nay. Những chiếc Quạt chất lượng cao này rất thời trang, đáng tin cậy và giá cả phải chăng.</li>
            </ul>
        </div>

        <div id="subsection6.3">
            <h5>6.3 Quạt Trần Mitsubishi</h5>
            <ul>
                <li> Đây sản phẩm đến từ hãng Mitsubishi Electric – công ty con thuộc tập đoàn Mitsubishi, Nhật Bản. Đồng thời, đây cũng là một trong những thương hiệu hàng đầu thế giới trong lĩnh vực thiết bị điện và điện da dụng. Sản phẩm có thiết kế khá độc đáo với kiểu dáng sang trọng và lịch lãm. Phần cánh quạt của Mitsubishi được tạo hình vuông, tạo nên vẻ đẹp khỏe khoắn, mạnh mẽ. Bộ phận ty quạt cũng được thiết kế dài giúp quạt phù hợp hơn với những căn phòng rộng và có trần cao. Nhưng giá thành khá cao so với Quạt trần Panasonic.</li>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
